@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-pagination-color: #000000;
    --swiper-navigation-color: #000000;
    --swiper-navigation-size: 30px !important;
}

.swiper-slide-thumb-active div {
    opacity: 1 !important;
}

.swiper {
    touch-action: auto !important;
}