@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-pagination-color: #000000;
    --swiper-navigation-color: #000000;
    --swiper-navigation-size: 30px !important;
}

.swiper-slide-thumb-active div {
    opacity: 1 !important;
}

.swiper {
    touch-action: auto !important;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    pointer-events: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 9999px;
    cursor: grab;
    pointer-events: auto;
    position: relative;
}

input[type="range"]:last-of-type::-webkit-slider-thumb {
    z-index: 2;
}

input[type="range"]:first-of-type::-webkit-slider-thumb {
    z-index: 1;
}

input[type="range"]::-moz-range-thumb {
    width: 1.3rem;
    height: 1.3rem;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 9999px;
    cursor: grab;
    pointer-events: auto;
    position: relative;
}

input[type="range"]:last-of-type::-moz-range-thumb {
    z-index: 2;
}

input[type="range"]:first-of-type::-moz-range-thumb {
    z-index: 1;
}